@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Colors */
:root {
    --light-grey: #979797;
    --dark-grey: #2B3844;
    --dark-blue: #202C36;
    --white: #fff;
    --black: #111517;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}